/* ---- MINIMAP ---- */
.minimap.slider-always{border-left:1px solid #3b3b3b;border-right:1px solid #3b3b3b}/* minimap area border, offers seperation from the main edit area.*/
.minimap-slider{outline:1px solid #777; outline-offset: -1px;} /* minimap slider outline. makes finding the minimap easier even if you open a wall of plaintext */

/* ---- ACTIVITY BAR ACTIVE INDICATOR ---- */
.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item.checked .active-item-indicator:before{border-left: 4px solid #fff !important;}/* makes the active indicator wider. */

/* ---- REDUCE MOTION ---- */
.monaco-scrollable-element>.visible{transition: opacity 0s linear !important;}/* disables the scrollbar fadein transition. fadeout is not affected since it is quite useful */
.monaco-hover{animation:fadein 0s linear !important}/* disables the hover card transition */
/* ---- Primary Sidebar ---- */
.monaco-workbench .part>.title{border-bottom: 1px solid #464646;}

.monaco-workbench .part.bottom>.title{height:27px !important;}
.monaco-workbench .part.bottom>.title>.title-label{line-height:26px !important;}
.monaco-workbench .part.bottom>.title>.title-actions{height:26px !important}

.monaco-workbench .part.basepanel>.composite.title>.panel-switcher-container>.monaco-action-bar{line-height: 25px !important; height:25px !important}
.monaco-diff-editor .diffOverview{border-left: 1px solid #3b3b3b;}
/* .monaco-workbench .pane-body.integrated-terminal .xterm-viewport::-webkit-scrollbar{width:15px !important} */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-top>.tab-border-top-container{height:2px !important}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab{border-top: 1px solid transparent; border-bottom: 1px solid transparent; border-right:1px solid #404040 !important; height:36px !important;}
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab[aria-selected="true"]{border-top: 1px solid #ffff !important;}
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab:hover{border-top:1px solid #8c8c8c;}
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container{height: 36px !important}
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions{height:36px !important}

.monaco-workbench .monaco-action-bar:not(.vertical) .action-label:not(.disabled):hover, .monaco-workbench .monaco-action-bar:not(.vertical) .monaco-dropdown-with-primary:not(.disabled):hover,.monaco-editor .find-widget .button:not(.disabled):hover, .monaco-editor .find-widget .codicon-find-selection:hover{background-color: #aaaaaa1e !important; outline:1px solid #888 !important}

.monaco-editor .find-widget .button:not(.disabled):hover{outline-offset: -1px;}

.cldr.codicon.codicon-folding-expanded:hover{background-color: #3a3a3a !important;}
.cldr.codicon.codicon-folding-collapsed:hover{background-color: #3a3a3a !important; outline: 1px solid #ddd7 !important; outline-offset: -3px;}

.monaco-list .monaco-list-row.focused.selected{outline-style: solid !important;}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .checked.action-item:hover .action-label.codicon{color:#d8d8d8 !important}

/* .monaco-list.list_id_10:not(.drop-target):not(.dragging) .monaco-list-row.focused:hover:not(.selected){background-color: #054573 !important;} */

.monaco-list .monaco-list-row.focused:hover{background-color:#054d80 !important}

.context-view .monaco-tl-twistie.codicon.collapsible:hover{outline: 1px solid #a6a6a6;outline-offset: -4px;}
.pane-body.outline-pane .monaco-tl-twistie.codicon.collapsible:hover{outline: 1px solid #a6a6a6;outline-offset: -4px;}

.monaco-button:hover, .monaco-custom-toggle:hover{outline:1px solid #888 !important}/*background-color: #aaaaaa1e !important; */

/* !!!!! .monaco-workbench.vs-dark .part.editor>.content .editor-group-container .editor-group-watermark>.letterpress svg::opacity:.3 -> 1  !!!!! */

.monaco-sash:hover{background-color: #555;}

.search-view .query-details .more:hover{outline:1px solid #888; outline-offset: -3px;}

.monaco-editor .sticky-widget.peek{box-shadow:black 0 3px 2px -2px}

textarea.input::placeholder{opacity:0.6;}
input.input::placeholder{opacity:0.6;}

/* ---- GLOBAL VERTICAL SCROLLBAR WIDTH ---- */
.monaco-scrollable-element>.scrollbar.vertical{width: 14px !important;}
.monaco-scrollable-element>.scrollbar.vertical>.slider{width:14px !important}
